<ul class="layout-menu">
<!--    <li class="menu-item"-->
<!--    routerLink="/client" routerLinkActive="active current"-->
<!--    [routerLinkActiveOptions]='{exact:true}'>-->
<!--        <i class="pi pi-fw pi-home"></i>-->
<!--        Юридик ташкилотлар-->
<!--    </li>-->
<!--    <li class="menu-item"-->
<!--        routerLink="/account/favorites" routerLinkActive="active current"-->
<!--        >-->
<!--        <i class="pi pi-fw pi-home"></i>-->
<!--        Favorites-->
<!--    </li>-->
<!--    <li class="menu-item"-->
<!--    *ngIf="userInfo  && userInfo  === 'ROLE_ADMIN' "-->
<!--    routerLink="list" routerLinkActive="active current">-->
<!--        <i class="pi pi-fw pi-align-left"></i>-->
<!--        Список операций -->
<!--    </li>-->
<!--    <li class="menu-item"-->
<!--        *ngIf="userInfo  && userInfo  === 'ROLE_ADMIN' "-->
<!--        routerLink="/account/list" routerLinkActive="active current">-->
<!--        <i class="pi pi-fw pi-align-left"></i>-->
<!--        Список операций-->
<!--    </li>-->
</ul>
